<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiche.dao.RuleNotReadyBeanMapper" >
  <resultMap id="BaseResultMap" type="com.yiche.bean.RuleNotReadyBean" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="rule_id" property="ruleId" jdbcType="VARCHAR" />
    <result column="database_name" property="databaseName" jdbcType="VARCHAR" />
    <result column="table_name" property="tableName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="rule_time" property="ruleTime" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="fater_id" property="faterId" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from rule_not_ready_db
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yiche.bean.RuleNotReadyBean" >
    insert into rule_not_ready_db ( rule_id, database_name,
      table_name, create_time, rule_time, 
      status, fater_id)
    values ( #{ruleId,jdbcType=VARCHAR}, #{databaseName,jdbcType=VARCHAR},
      #{tableName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{ruleTime,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{faterId,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.yiche.bean.RuleNotReadyBean" >
    update rule_not_ready_db
    set rule_id = #{ruleId,jdbcType=VARCHAR},
      database_name = #{databaseName,jdbcType=VARCHAR},
      table_name = #{tableName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      rule_time = #{ruleTime,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      fater_id = #{faterId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, rule_id, database_name, table_name, create_time, rule_time, status, fater_id
    from rule_not_ready_db
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, rule_id, database_name, table_name, create_time, rule_time, status, fater_id
    from rule_not_ready_db
  </select>


  <update id="updateStatusByFatherId"  >
    update rule_not_ready_db
    set
    status = #{status,jdbcType=INTEGER}
    where fater_id = #{fatherId,jdbcType=VARCHAR}
    and   date(a.create_time) = date_sub(curdate(), INTERVAL 0 DAY)
  </update>
  <select id="getByRuleId" resultMap="BaseResultMap" >
    select id, rule_id, database_name, table_name, create_time, rule_time, status, fater_id
    from rule_not_ready_db
    where rule_id= #{ruleId,jdbcType=VARCHAR}
    and   status = #{status,jdbcType=INTEGER}
  </select>

</mapper>